<!DOCTYPE html>
<html>
<head>
    <title>理学院会议室预约系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">

</head>
<body ontouchstart class="user-body">
<form id="the_form" class="form-horizontal">
    <div class="page__bd">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">会议室</label>
        </div>
        <div class="weui-cell__bd">
            <select class="weui-input" v-model="row.roomno">
                <option value="">请选择会议室</option>
                <option>T400</option>
                <option>T403</option>
                <option>J515</option>
                <option>C616</option>
            </select>
        </div>
        </div>
        <div class="weui-cell">
        <div class="weui-cell__hd"><label for="the_date" class="weui-label">日期</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" id="the_date" v-model="row.the_date"/>
        </div>
      </div>
        <div class="weui-cell">
        <div class="weui-cell__hd"><label for="time1" class="weui-label">开始时间</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="time1" v-model="row.time1">
        </div>
      </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="time2" class="weui-label">结束时间</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="time2" v-model="row.time2">
            </div>
          </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="applyuser" class="weui-label">预约人</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="applyuser" v-model="row.applyuser">
            </div>
          </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="phoneno" class="weui-label">联系电话</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="phoneno" v-model="row.phoneno">
            </div>
          </div>
    </div>

    <div class="weui-cells__title">借用理由</div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <textarea class="weui-textarea" placeholder="请输入文本" rows="3" v-model="row.the_memo"></textarea>
          <div class="weui-textarea-counter"><span>0</span>/200</div>
        </div>
      </div>
    </div>
    </div>
    <div class="weui-cells__tips">
        <div class="weui-flex">
          <div class="weui-flex__item"><a href="javascript:;" v-on:click="dosubmit" class="weui-btn weui-btn_primary" style="width: 200px;">修改</a></div>
        </div>
    </div>
</form>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>

<!-- 如果使用了某些拓展插件还需要额外的JS -->
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/city-picker.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
<script src="/static/js/vue.min.js"></script>
</body>

<script>
        var vm = null;
        var times= [
                      "08:00","08:15","08:30","08:45",
                      "09:00","09:15","09:30","09:45",
                      "10:00","10:15","10:30","10:45",
                      "11:00","11:15","11:30","11:45",
                      "12:00","12:15","12:30","12:45",
                      "13:00","13:15","13:30","13:45",
                      "14:00","14:15","14:30","14:45",
                      "15:00","15:15","15:30","15:45",
                      "16:00","16:15","16:30","16:45",
                      "17:00","17:15","17:30","17:45",
                      "18:00","18:15","18:30","18:45",
                      "19:00","19:15","19:30","19:45",
                      "20:00","20:15","20:30","20:45",
                      "21:00","21:15","21:30","21:45",
                      "22:00"
        ];

        function formcheck() {
            var regBox = {
                regApply: /^[a-z0-9_-\u4E00-\u9FA5]{3,500}$/,//用途
                regMobile: /^0?1[3|4|5|8][0-9]\d{8}$/,//手机
                regTel: /^[\d]{6}$/,
                regName: /^[\u4E00-\u9FA5]{2,5}$/
            };
            if (vm.row.the_memo == "" || vm.row.username == "" || vm.row.phoneno == "") {
                $.alert('还有内容没填完哦！');
                return false;
            }

            if (vm.row.the_memo.length < 5) {
                $.alert('用途不够详细');
                return false;
            }

            if (!regBox.regName.test(vm.row.applyuser)) {
                $.alert("姓名好好填！");
                return false;
            }

            var mflag = regBox.regMobile.test(vm.row.phoneno);
            var tflag = regBox.regTel.test(vm.row.phoneno);

            if (!(mflag || tflag)) {
                $.alert("长号或者短号有误！");
                return false;
            }
            return true;
        }
        var the_row = {
                        id          : '${i.get("id",0)}',
                        cmd         : '${i.get("cmd","add")}',
                        roomno      : '${i.get("roomno","")}',
                        the_date    : '${i.get("the_date","")}',
                        time1       : '${i.get("time1","")}',
                        time2       : '${i.get("time2","")}',
                        the_memo    : '${i.get("the_memo","")}',
                        applyuser   : '${i.get("applyuser","")}',
                        phoneno     : '${i.get("phoneno","")}'
        };

        $(function(){
            FastClick.attach(document.body);
            vm = new Vue({
                el:"#the_form",
                data:{
                    row:the_row
                },
                methods:{
                    dosubmit:function(){
                        r = formcheck();
                        if (r){
                            console.log(vm.row);
                            $.post("/F0013/ajax",vm.row,function(r){
                                if(r.result=="OK"){
                                    $.alert("修改成功！", function() {
                                        parent.refresh();
                                        parent.layer.closeAll();
                                    });
                                }
                            },"json");
                        }

                    },
                },
            });
            $("#the_date").calendar({
                minDate:"2018-03-07",
                maxDate:"2018-03-17",
                dateFormat:'yyyy-mm-dd',
                onChange:function(e, values, displayValues){
                    console.log(values[0]);
                    vm.row.the_date = values[0];
                }
            });

        $("#time1").picker({
                title:"开始时间",
                cols:[{textAlign: 'center',values:times}],
                onChange:function(e,values){
                    vm.row.time1 = values[0];
                }
            });
        $("#time2").picker({
              title: "结束时间",
              cols: [{textAlign: 'center',values:times}],
                    onChange:function(e,values){
                    vm.row.time2 = values[0];
                }

            });
        });
    </script>
</html>